// Define variables for your color scheme

// For example:
$yellow: #F9E590;
$violet: #150944;
$white: #FFFEFE;
$blue: #96D7EE;
$tangerine: #F9A990;
$green: #146F68;
$alert: #D80000;
$pending: #EC9C52;
