<div class="banner">
  <div>
    <h4>
      Settings
    </h4>
  </div>
</div>

<div class="banner-margin">
  <div class="wrapper">

<%= render "shared/setting-card-frequency"%>
<%= render "shared/setting-card-payment"%>

    <div class="event-card">
      <div class="event-card-content">
        <div class="event-card-info">
          <h6>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </h6>
        </div>
        <p><i class="fa-solid fa-ellipsis"></i></p>
      </div>
    </div>

  </div>
</div>


<%#
<h3>Event Frequency</h3>
<h3># of events per month</h3> %>
<%#= current_user.event_frequency %>
<%# <br>
<br>
<h3>Payment</h3>
<h3>Budget per gift</h3> %>
<%#= current_user.budget %>
<%# <br>
<br> %>

<%#= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
