<div class="event-card" data-edit-event-target="completed" id="event-<%= event.id %>">
  <div class="event-card-content">
    <p class="event-icon color-blue"><i class="fa-regular fa-thumbs-up"></i></p>
    <div class="event-card-info">
      <h6>
        <%= event.inspo.name %>
        <% if event.inspo.genre == "date" %>
          <i class="fa-solid fa-people-pulling"></i>
        <% elsif event.inspo.genre == "gift" %>
          <i class="fa-solid fa-gift"></i>
        <% elsif event.inspo.genre == "text" %>
          <i class="fa-solid fa-people-pulling"></i>
        <% end %>
      </h6>
      <p>Completed</p>
    </div>
    <p><i class="fa-solid fa-ellipsis" data-action="click->edit-event#revealShowCompleted" id="event-<%= event.id></i></p>
  </div>
</div>
