<div class="inspo-card">
  <div class="inspo-card-content">
    <div class="inspo-card-info">
      <h4><%= inspo.name %></h4>
      <h5><%= inspo.genre.capitalize %></h5>
    </div>
    <div class="inspo-card-buttons">
      <p class="dislike"><i class="fa-solid fa-xmark"></i></p>
      <p class="like"><i class="fa-solid fa-heart"></i></p>
    </div>
  </div>
</div>
