<div class="keyword-card">
  <%# style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path keyword.photo.key, height: 300, crop: :fill %> <%# ')" %>
  <h6><%= keyword.name %></h6>

  <p>
    <% if current_user.partner.keywords.include?(keyword) %>
      <i class="fa-solid fa-circle-check"></i>
    <% else %>
      <i class="fa-solid fa-circle-plus"></i>
    <% end %>
  </p>
</div>
