<div class="keyword-card">
  <h6><%= keyword.name %></h6>
  <p>
    <i class="fa-solid fa-circle-plus"></i>
    <%#= if current_user.partner.preferences.find(keyword) %>
      <%# <i class="fa-solid fa-circle-check"></i> %>
    <%# else %>
      <%# <i class="fa-solid fa-circle-plus"></i> %>
    <%# end %>
  </p>
</div>
