<div class="inspo-card-container d-none" data-swipe-inspos-target="inspo" style="">
  <% url = "/assets/inspo_default_blur.jpg" %>
  <div class="inspo-card" style="background-image: url(<%= url %>);">
    <%= link_to 'Generate Events!', events_loading_path, class:"btn btn-flat"%>
  </div>
  <h4 class="text-center mb-2" style="color: #FFFEFE"><%= 0 %></h4>
</div>
