<div class="inspo-card-container d-none" data-swipe-inspos-target="inspo" style="">

  <div class="inspo-card" style="">

    <p class='btn btn-flat'><%= link_to 'Generate Our Events!', events_loading_path %></p>
  </div>

</div>
