<div class="event-card" data-settings-target="payment">
  <div class="event-card-content">
    <p class="event-icon color-dark">
      <i class="fa-solid fa-money-bill-wave"></i>
    </p>
    <div class="event-card-info">
      <h6>
        Payment
      </h6>
    </div>
    <p><i class="fa-solid fa-chevron-down" data-action="click->settings#revealPayment"></i></p>
  </div>
</div>
