<div class="event-card" data-settings-target="frequency">
  <div class="event-card-content">
    <p class="event-icon color-dark">
     <i class="fa-solid fa-calendar-days"></i>
    </p>
     <div class="event-card-info">
        <h6>
          Event Frequency
        </h6>
      </div>
    <p><i class="fa-solid fa-ellipsis" data-action="click->settings#revealEdit"></i></p>
  </div>
</div>
