<div class="banner">
  <h1>Good Evening, <% current_user.name %></h1>
</div>
<div class="wrapper">
  <ul>
    <% @events.each do |event| %>
      <%= render "shared/event-card", event: event %>
    <% end %>
  </ul>

</div>
