<div class="wrapper">
  <h1>Uncompleted events / Dashboard</h1>

  <ul>
    <% @events.each do |event| %>
      <%= render "shared/event-card", event: event %>
      <li><%= link_to event.inspo.name, event_path(event) %></li>
    <% end %>
  </ul>

</div>
