

<div class="landing">

  <div class="title">
    <h1>ficelle</h1>
    <h6>show your love, without lifting a finger</h6>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%# add logo %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%= link_to "Get started", new_user_registration_path, class: "btn-flat" %>
  <p class="login">Already have an account? <%= link_to "Log in", user_session_path %></p>

</div>
