<h1>ficelle</h1>
<p>๐งก Deceiving your partner since <%= current_user && current_user.partner ? current_user.partner.created_at.strftime('%a %B %e, %Y') : 2022 %> ๐งก</p>

<%= render "shared/avatar" %>
