<div class="wrapper">
  <%# add button to go back to previous page %>
  <h6>Select potential events</h6>

  <% @inspos.each do |inspo| %>
    <%= render "shared/inspo-card", inspo: inspo %>
  <% end %>
  <%# add counter for how many cards %>
  <%# add skip button %>
</div>
