<div class="wrapper">
  <h6 class="mt-2">Select potential events</h6>
  <div data-controller="swipe-inspos">
    <% @inspos.each_with_index do |inspo, index| %>
      <%= render "shared/inspo-card", inspo: inspo, index: index, total: @inspos.count %>
      <div class="back-skip">
    </div>
      <% end %>
      <%= render "shared/loading" %>
  </div>
  <% if current_user.all_favorites.count == 0 %>
    <div class="back-skip">
      <%= link_to ('<i class="fa-solid fa-circle-arrow-left"></i> Back').html_safe, partner_keywords_path(@current_user.partner), class: "dark-link" %>
      <%= link_to ('Skip <i class="fa-solid fa-circle-arrow-right"></i>').html_safe, events_loading_path, class: "dark-link" %>
    </div>
  <% end %>
</div>
