<ul>
  <% @keywords.each do |keyword| %>
    <li>
      <%= keyword.name %>
      <%= keyword.photo.attached? ? cl_image_tag(keyword.photo.key, width: 400, height: 300, crop: :fill) : cl_image_tag("pvvsjborrwmoiefhvpog", width: 400, height: 300, crop: :fill) %>
    </li>
  <% end %>
</ul>
