<div class="wrapper">
  <h5>Select your partner's interests</h5>
  <div class="keyword-cards">
    <% @keywords.each do |keyword| %>
      <%= render "shared/keyword-card", keyword: keyword %>
    <% end %>
  </div>
  <%# add button link to inspo swipe %>
  <%# add link to 'skip' to loading page (to generate events) %>
</div>
