.banner {
  background-color: $violet;
  height: 116px;
  overflow: hidden;
  padding: 16px 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.banner h1 {
  color: $white;
  font-size: 32px;
}
