.banner {
  background-color: $violet;
  height: 116px;
  overflow: hidden;
  padding: 16px 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner h4 {
  color: $white;
}

.banner h6 {
  color: $white;
  font-weight: 400;
}

.banner-margin {
  margin-top: 148px;
}

.center-dashboard {
  height: calc(100vh - 116px - 64px - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-info {
  width: 100%;
  text-align: center;
}
