.event-card {
  background-color: $white;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  padding: 16px 16px;
  margin-bottom: 16px;
}

.pending-event {
  background-color: rgba($tangerine, 0.2);
}

.event-card-content {
  display: flex;
  align-items: center;
}

.event-card-content > p:last-of-type {
  font-size: 16px;
}

.event-card-info {
  flex-grow: 1;
  margin: 0 16px;
}

.event-icon {
  font-size: 24px;
}

.background-tangerine {
  background-color: rgba($tangerine, 0.15);
}
