.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper form div, .edit_partner, .new_partner, .new_user, .edit_user {
  width: 100%;
}

.form-avatar {
  margin-top: 24px;
}

.form-control, .form-select {
  border-radius: 8px;
}
