h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: $violet;
}

ul, li {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: .75rem;
}

a {
  text-decoration: none;
  color: $violet;
}

.wrapper {
  padding: 32px 32px 32px 32px;
  width: 375px;
  margin: 0 auto;
}

.color-red {
  color: $alert;
}

.color-orange {
  color: $warning;
}

.color-blue {
  color: $blue;
}

.iphone {
  width: 375px;
  height: 667px;
  border: 1px solid black;
}
