.inspo-card {
  background-color: $tangerine;
  border-radius: 16px;
  width: 100%;
  position: relative;
  padding: 36px;
  margin: 16px 0;
}

.inspo-card-info {
  text-align: center;
  margin: 80px 0;
}

.inspo-card-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0px;
  left: 0px;
}

.dislike {
  height: 56px;
  width: 56px;
  font-size: 32px;
  background-color: $white;
  color: $alert;
  border: 3px $alert solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like {
  height: 56px;
  width: 56px;
  font-size: 28px;
  background-color: $white;
  color: $blue;
  border: 3px $blue solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
