.relationship-avatars {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avatar-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-name img {
  margin-top: 0;
  margin-bottom: 8px;
}

.avatar-name a {
  color: $white;
  background-color: $green;
  font-size: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid $white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 65px;
  right: -30px;
}
